@import "bourbon/bourbon"

$yellow-color: #fab330
$white-color: #ffffff
$black-color: #000000
$blue-color: #0066a1
$hover-color: #149ed8
$text-color: #292929
$descr-color: #8c8c8c

body
	font-family: "Museo-Sans-Cyrl-900" , sans-serif
	font-weight: 400
	font-size: 16px
	position: relative
	line-height: 1.6
	margin: 0
	overflow-x: hidden
a,a:hover,a:focus,a:visited,button,button:hover,button:visited,button:focus
	outline: none
	text-decoration: none
	text-transform: uppercase
ul
	margin: 0
	padding: 0
ul li
	list-style-type: none
.hidden
	display: none
.container
	width: 1170px
	margin: 0 auto
.header
	background-color: $blue-color
	.header__text
		display: flex
		height: 50px
		justify-content: center
		align-items: center
		.text__header
			font-size: 0.8em
			line-height: 19.93px
			color: $white-color 
		.ic__close
			display: block
			width: 23px
			height: 23px
			background: url(../img/close.svg)no-repeat
			margin-left: 12px
.big-img
	height: 530px
	background: url(../img/kamako-screen.jpg)top center no-repeat
	background-size: cover 
	.big__img_wrapp
		height: 75px
		background: $white-color
		.mnu__wrapp
			display: flex
			height: 75px
			justify-content: space-around
			.logo
				width: 86px
				height: 86px
				background: url(../img/logo.png)no-repeat
				margin-left: 0.8%
			.mnu
				width: 66%
				justify-content: space-between
				li
					line-height: 22px
					a
						text-transform: uppercase
						font-family: "Museo-Sans-Cyrl-700"
						color: $text-color
						font-size: 0.821em
						line-height: 19.94px
				li.active
					border-bottom: 1px solid $hover-color
					a
						transition: all .3s
						color: $hover-color
						font-family: "Museo-Sans-Cyrl-900"
			.mnu,.select__language,.search__wrapp
				display: flex
				height: inherit
				align-items: center
				a.lg__select.active,a.lg__select
					font-size: 0.875em
					line-height: 19.94px
					font-family: "Museo-Sans-Cyrl-900"
					color: $hover-color
				a.lg__select
					font-family: "Museo-Sans-Cyrl-500"
					color: $descr-color
				.ic__search
					display: block
					width: 24px
					height: 24px
					background: url(../img/search.svg)no-repeat
			.burger-menu-wrapper
				display: none
	.info__text
		font-size: 22px
		line-height: 15.94px
		text-align: center
		color: $white-color
		font-family: "Noto-Serif-Italic"
		font-weight: 300
	.carousel_wrapp
		display: block
		width: 100%
		position: relative
		.box__banner
			display: flex
			width: 100%
			justify-content: center
			.banner
				display: flex
				width: 666px
				background: rgba(255,255,255,.96)
				margin-top: 46px
				height: 260px
				box-shadow: 0px 10px 17px 3px rgba(0,0,0,.1)
				border-radius: 4px 
				.banner__wrapp
					display: flex
					flex-direction: column
					align-items: center
					width: 100%
					text-align: center
					box-shadow: 0px 10px 17px 3px rgba(0,0,0,.1)
					.banner__name
						display: block
						width: 100%
						font-size: 0.821em
						letter-spacing: 2.59px
						line-height: 42.84px
						color: $yellow-color
						text-transform: uppercase
						font-family: "Museo-Sans-Cyrl-900"
						margin-top: 25px
					.banner__descr
						font-size: 2.125em
						line-height: 42px
						font-family: "Noto-Serif-Italic"
						margin: 0 0 24px 0
					.banner__btn
						display: flex
						width: 190px
						height: 45px
						justify-content: center
						align-items: center
						background-color: $yellow-color
						font-size: 0.75em
						line-height: 29.89px
						letter-spacing: 2.64px
						color: $white-color
						text-transform: uppercase
						border-radius: 4px
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot span
	display: block
	width: 8px
	height: 8px
	border: 2px solid $white-color
	border-radius: 50%
	box-shadow: 0 0 18px 2px #000000
	background: transparent
.owl-theme .owl-dots .owl-dot.active span
	background: $white-color
.owl-theme .owl-nav
	position: absolute
	top: 40%
	display: flex
	width: 91%
	justify-content: space-between
	margin-top: 0
	padding: 0 25px
.owl-carousel .owl-nav button.owl-prev span,
.owl-carousel .owl-nav button.owl-next span,
	display: block
	width: 17px
	height: 27px
	background: url(../img/arrow-right.svg)no-repeat
	color: transparent
.owl-theme .owl-nav [class*=owl-]:hover
	background: transparent
.owl-carousel .owl-nav button.owl-prev span
	background: url(../img/arrow-left.svg)no-repeat
.owl-theme .owl-dots
	margin-top: 40px

/////////////// burger mnu //////////////////////

.burger-menu-wrapper
	top: 50%
	left: 1.45rem
	transform: translate(-50%, -50%)
	width: 2.5rem
	height: 75px
	overflow: hidden
	cursor: pointer
	position: relative
	display: block
	.circle
		position: relative
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		fill: none
		stroke: #000000
		stroke-width: 4%
		height: 60%
		width: 2.5rem
		stroke-dasharray: 550
		stroke-dashoffset: -550
		transition: .7s ease-in-out
	.line
		position: absolute
		left: 50%
		transform: translateX(-50%)
		height: 7%
		width: 1.5rem
		stroke: #000000
		stroke-width: 10%
	.top-line
		transform-origin: left center
		top: 39%
		transition: .7s ease-in-out
	.middle-line
		top: 47%
	.bottom-line
		transform-origin: left center
		top: 55%
		transition: .7s ease-in-out
.burger-menu-wrapper.open .circle
	stroke-dashoffset: 0
.burger-menu-wrapper.open .middle-line
	transform: translateX(151%)
	transition: .7s ease-in-out
.burger-menu-wrapper.closing .middle-line
	transform: translateX(-50%)
	transition: .7s ease-in-out
.burger-menu-wrapper.open .top-line,.burger-menu-wrapper.open .bottom-line
	transform: translateX(-50%) rotate(45deg)
	top: 1.6rem
	left: 1.5rem
.burger-menu-wrapper.open .bottom-line
	transform: translateX(-50%) rotate(-45deg)
	top: 2.65rem
/////////////// burger mnu //////////////////////


/////////////// выпадающее меню //////////////////////
	
.top__mnu
	position: absolute
	width: 100%
	background-color: rgba(0,0,0,.85)
	z-index: 50
	right: 0
	top: 11.65rem
	display: none
	ul,li
		list-style-type: none
		padding: 0
		margin: 0
	ul
		+animation-duration(.7s)
		li
			&:nth-child(1) a
				+animation-delay(0)
			&:nth-child(2) a
				+animation-delay(.1s)
			&:nth-child(3) a
				+animation-delay(.2s)
			&:nth-child(4) a
				+animation-delay(.3s)
		a
			display: flex
			text-transform: uppercase
			opacity: 0
			position: relative
			height: 77px
			letter-spacing: 2px
			justify-content: center
			align-items: center
			font-family: "Museo-Sans-Cyrl-700"
			color: $white-color
			font-size: 0.875em
			line-height: 19.94px			
			&:hover
				transition: .5s ease-in-out
				background: rgba(0,102,161,.6)
				backdrop-filter: blur(15px)
				color: $yellow-color 
/////////////// выпадающее меню //////////////////////